<a href="https://colab.research.google.com/github/kalpnaponnuswamy/ML_Assignments/blob/main/MultinomialNB_classTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/naga-sk/DataScienceTraining-Assignments/main/naive_bayes/purchase.csv")
data

        Day Discount Free Delivery Purchase
0   Holiday       No            No       No
1   Holiday       No            No       No
2   Holiday       No            No       No
3   Weekday       No            No       No
4   Weekday       No           Yes       No
5   Weekend      Yes           Yes       No
6   Holiday      Yes           Yes      Yes
7   Holiday      Yes           Yes      Yes
8   Holiday       No           Yes      Yes
9   Holiday      Yes           Yes      Yes
10  Holiday      Yes           Yes      Yes
11  Holiday      Yes           Yes      Yes
12  Holiday       No           Yes      Yes
13  Holiday       No            No      Yes
14  Weekday       No           Yes      Yes
15  Weekday      Yes           Yes      Yes
16  Weekday      Yes           Yes      Yes
17  Weekday      Yes           Yes      Yes
18  Weekday      Yes           Yes      Yes
19  Weekday      Yes           Yes      Yes
20  Weekday      Yes           Yes      Yes
21  Weekday      Yes           Yes      Yes
22  Weekday      Yes           Yes      Yes
23  Weekend      Yes            No      Yes
24  Weekend       No           Yes      Yes
25  Weekend      Yes           Yes      Yes
26  Weekend      Yes           Yes      Yes
27  Weekend      Yes            No      Yes
28  Weekend      Yes           Yes      Yes
29  Weekend      Yes           Yes      Yes

In [ ]:
data['Discount'] = data['Discount'].map({'Yes': 1, 'No': 0})
data['Free Delivery'] = data['Free Delivery'].map({'Yes': 1, 'No': 0})
data['Purchase'] = data['Purchase'].map({'Yes': 1, 'No': 0})
data['Day'] = data['Day'].map({'Holiday': 2, 'Weekday': 0,'Weekend': 1})
data

    Day  Discount  Free Delivery  Purchase
0     2         0              0         0
1     2         0              0         0
2     2         0              0         0
3     0         0              0         0
4     0         0              1         0
5     1         1              1         0
6     2         1              1         1
7     2         1              1         1
8     2         0              1         1
9     2         1              1         1
10    2         1              1         1
11    2         1              1         1
12    2         0              1         1
13    2         0              0         1
14    0         0              1         1
15    0         1              1         1
16    0         1              1         1
17    0         1              1         1
18    0         1              1         1
19    0         1              1         1
20    0         1              1         1
21    0         1              1         1
22    0         1              1         1
23    1         1              0         1
24    1         0              1         1
25    1         1              1         1
26    1         1              1         1
27    1         1              0         1
28    1         1              1         1
29    1         1              1         1

In [ ]:
data.shape

(30, 4)

In [ ]:
x = data.iloc[:,:-1]

In [ ]:
x.head()

In [ ]:
y = data.iloc[:,-1]

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchase, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( x, y,test_size=0.3, random_state=9)

In [ ]:
X_train

    Day  Discount  Free Delivery
6     2         1              1
2     2         0              0
15    0         1              1
12    2         0              1
16    0         1              1
13    2         0              0
29    1         1              1
10    2         1              1
14    0         0              1
0     2         0              0
26    1         1              1
17    0         1              1
8     2         0              1
20    0         1              1
25    1         1              1
1     2         0              0
27    1         1              0
24    1         0              1
22    0         1              1
21    0         1              1
28    1         1              1

In [ ]:
X_test

    Day  Discount  Free Delivery
9     2         1              1
4     0         0              1
23    1         1              0
7     2         1              1
5     1         1              1
3     0         0              0
18    0         1              1
19    0         1              1
11    2         1              1

In [ ]:
y_train

6     1
2     0
15    1
12    1
16    1
13    1
29    1
10    1
14    1
0     0
26    1
17    1
8     1
20    1
25    1
1     0
27    1
24    1
22    1
21    1
28    1
Name: Purchase, dtype: int64

In [ ]:
y_test

9     1
4     0
23    1
7     1
5     0
3     0
18    1
19    1
11    1
Name: Purchase, dtype: int64

In [ ]:
model = MultinomialNB()

In [ ]:
model.fit(X_train, y_train)
MultinomialNB()

MultinomialNB()

In [ ]:
predicted = model.predict(X_test)
expected = y_test
print(predicted) 

print(expected)

[1 1 1 1 1 1 1 1 1]
9     1
4     0
23    1
7     1
5     0
3     0
18    1
19    1
11    1
Name: Purchase, dtype: int64

In [ ]:
accuracy_score(y_test,predicted,normalize=True)

0.6666666666666666

In [ ]:
confusion_matrix(y_test, predicted)

array([[0, 3],
       [0, 6]])

In [ ]:
Y_predicted_test = model.predict(X_test)
Y_predicted_train = model.predict(X_train)

In [ ]:
accuracy_score(y_test,Y_predicted_test,normalize=True)

0.6666666666666666

In [ ]:
print(classification_report(y_test, Y_predicted_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.67      1.00      0.80         6

    accuracy                           0.67         9
   macro avg       0.33      0.50      0.40         9
weighted avg       0.44      0.67      0.53         9

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))